CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
outputs/
prof/
binary/

# Python cache files
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class